POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_SCHEMA=public

SERVER_PORT=9999

PGADMIN_LISTEN_PORT=8080

REDIS_HOST=127.0.0.1
REDIS_PORT=8000
REDIS_INSIGHT_PORT=8001

LOG_LEVEL=trace,tower_http=info,sea_orm=info,axum=info,api_http=info
#LOG_LEVEL=trace

MIGRATION_DIR=infrastructure/migrations
JWT_SECRET=CHANGE_ME!
